<div class="margin-10">

  <app-territory-detail-actions (remove)="delete()"
                                (addChild)="addLevel()"
                                (save)="saveClick()">
  </app-territory-detail-actions>
  <div flex fxLayout="column" fxLayoutAlign="start" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">

    <form [formGroup]="_form">

      <mat-form-field appearance="outline" class="margin-top-15">
        <mat-label i18n>Identificação</mat-label>
        <input matInput i18n-placeholder placeholder="Identificação" formControlName="name">
        <mat-icon matSuffix>import_export</mat-icon>
        <mat-hint i18n>Nome do território</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="margin-top-15">
        <mat-label i18n>Responsável</mat-label>
        <input matInput i18n-placeholder placeholder="Responsável pelo território" formControlName="responsable">
        <mat-icon matSuffix>import_export</mat-icon>
        <mat-hint i18n>Selecione o responsável por este território</mat-hint>
      </mat-form-field>

    </form>

    <div *ngIf="_level?.hasChildren">
      <table id="levels">
        <tr>
          <th>Nome</th>
          <th>Responsável</th>
          <th>Tipo</th>
        </tr>
        <tr *ngFor="let row of _level.getChildrens()">
          <td>{{row.name}}</td>
          <td>{{row.responsable}}</td>
          <td>{{row.levelType === 1 ? 'Gerencial' : 'Operacional'}}</td>
        </tr>
      </table>
    </div>

  </div>

</div>
